* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

header {
  background-color: rgb(23, 23, 23);
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.300);
  
}

main {
    background-color: rgb(23, 23, 23);
    height: 100vh;
    
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;

}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre logo y texto */
}

.logo-container img {
  height: 42px;
}

.logo-text {
  font-size: 14px;
  color: white;
  letter-spacing: 5px; /* separa las letras 5 píxeles */
}

.menu {
  position: absolute; /* lo sacamos del flujo para centrarlo */
  left: 50%;
  transform: translateX(-50%); /* centra exactamente */
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 14px;
  letter-spacing: 3px; /* separa las letras 3 píxeles */
}

.menu li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #1abc9c;
}

/* INICIO */
main .inicio {
  padding: 100px 20px 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.inicio .hola {
  font-size: 42px;
  color: white;
  font-weight: 700;
  padding: 0;
  margin-bottom: 2px;
}

.inicio .nombre {
  font-size: 34px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  color: #1abc9c;

}

main .inicio h3 {
  display: inline-block;        /* Permite animar width */
  font-size: 16px;
  color: rgba(255, 255, 255, 0.651);
  font-weight: 400;
  letter-spacing: 2px;


  overflow: hidden;             /* Oculta el texto no escrito */
  white-space: nowrap;          /* Una sola línea */
  border-right: 0.15em solid orange;
  width: 0ch;                   /* Comienza con ancho 0 caracteres */
  animation: typing 7s steps(32, end) infinite,
             blink-caret .75s step-end infinite;
}

/* Animación de escritura */
@keyframes typing {
  0%   { width: 0ch; }
  40%  { width: 32ch; }  /* Se escribe */
  70%  { width: 32ch; }  /* Se queda quieto (3s aprox en 8s) */
  100% { width: 0ch; }   /* Se borra */    /* Se borra */         /* Igual al número de caracteres de tu texto */
}

/* Cursor parpadeante */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #1abc9c; }
}

.inicio img {
  width: 280px;         /* Ajustá el tamaño que quieras */
  height: 280px;        /* Igual al width para que sea perfectamente redonda */
  object-fit: cover;    /* Para que no se deforme la foto */
  border-radius: 50%;   /* Esto la hace circular */
  border: 15px solid rgb(32, 32, 32); /* Borde gris (podés cambiar el grosor o color) */
  display: block;       /* Para centrar con margin si querés */
  margin: 30px auto;    /* Centrado horizontal */
}

.inicio .descargar-cv{
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 8px 14px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 1px solid #1abc9c;
  letter-spacing: 2px;
  font-size: 14px;
  margin-top: 15px;
}

.inicio .descargar-cv:hover{
  background-color: #1abc9c;
  transition: background-color 0.8s ease;
  color: rgb(32, 32, 32);
}


/* SOBRE MI */
main .sobremi {
  padding: 100px 20px 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sobremi h1{
  font-size: 34px;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;

}

.sobremi p {
  font-size: 16px;
  color: white;
  font-weight: 400;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
}
